*.tgz
.DS_Store
node_modules
coverage

# Local env files
.env.local
.env.*.local

# Log files
lerna-debug.log
npm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

dist
openapitools.json
openapi-generator-cli.jar
packages/example-template
packages/openapi-node-client-generator-cli/template/
packages/openapi-node-client-generator-cli-template/typescript-fetch/

